@import url('https://fonts.googleapis.com/css?family=Alegreya+SC&display=swap');

.App {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(15,15,15,1);
  color: white;
  font-family: 'Alegreya SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Portfolio {
  display: flex;
  flex-direction: column;
}

.Splash {
  min-height: 87vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.Me {
  height: 60vh;
  margin: 4em;
  border: .1em solid white;
  border-radius: .2em;
}

.SplashRight {
  text-align: justify;
}

.SocialLink {
  display: inline-block;
  margin: .8em;
  text-align: center;
}

.SocialLink:hover .SocialText {
  visibility: visible;
}

.SocialText {
  visibility: hidden;
  margin-top: -1em;
}

#LinkedIn {
  margin-right: 1em;
}

.SplashIcon {
  text-decoration: none;
  color: white;
}

.SplashIcon:hover {
  color: limegreen;
}

.Scroller {
  margin: 0 auto;
  animation-name: scroller;
  animation-duration: 2s;
}

@keyframes scroller {
  from { color: white; height: 1em; }
  to { color: limegreen; height: 2em; }
}

hr {
  width: 70vw;
  margin: 1em auto;
}

.About {
  min-height: 87vh;
}

.PageLink {
  text-decoration: none;
  color: dodgerblue;
}

.PageLink:hover {
  color: limegreen;
}

.Tech {
  max-width: 60vw;
  margin: 0 auto;
}

.TechIcon {
  margin: 1em;
}

.Projects {
  min-height: 87vh;
  max-width: 50vw;
  margin: 0 auto;
}

#MinitImg {
  width: 15vw;
}

.Carousel {
  height: 60vh;
}

.AppLink {
  margin: 1em;
  padding: .5em;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: .3em;
}

.AppLink:hover {
  background-color: limegreen;
}

.Contact {
  min-height: 87vh;
}

input, textarea {
  margin: .5em auto;
  width: 40vw;
  font-size: 1.5em;
  font-family: 'Alegreya SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}

textarea {
  height: 30vh;
}

#FormSubmit {
  width: 10vw;
  font-size: 1.5em;
  border-radius: .2em;
  font-weight: bold;
}

#FormSubmit:hover {
  background-color: limegreen;
  border: 1px solid limegreen;
  cursor: pointer;
  color: black;
}

.Header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Nav {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  margin: 0 .5em;
}

.Nav:hover {
  text-decoration: underline;
}

.Resume {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ResumePdf {
  margin: 0 auto;
}

.Footer {
  margin: 0 auto;
  text-align: center;
}